.Dashboard {
    text-align: left;
    min-height: 100vh;
}

.Dashboard-welcome {
    color: #fcfcfc;
}

.Dashboard-content {
    background-color: #fcfcfc;
}

.Dashboard-news-item {
    border-bottom: solid 1px #0072b8;
}