.App {
  padding-top: 15vh;
  margin: 0;
  padding: 0;
  background-color: #0072b8;
}

.bar {
  float: left;
  width: 10vw;
  height: 93vh;
}

.smallbar {
  float: left;
  width: 5vw;
  height: 93vh;
}

.blue {
  background-color: #0072b8;
}

.black {
  background-color: #212529;
}

.navbar {
  background-color: #212529;
}

